__pycache__
.mypy_cache
.ruff_cache
.pytest_cache
.idea
.vscode

*.log
*.zip
*.pdf
*.bak
*.spec

.coverage
htmlcov

venv

.env

temp

output

# temporary
internship_scraper/linkedin_to_lines.py
internship_scraper/lines_to_table.py
